.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom:.6rem;
    padding-top:.6rem;
    
}

.headertext {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    text-align: center;
    border-radius: 4px;
    max-width: 20rem;
    min-width: 16rem;
    font-size: 12px;
    
}
main {
    background-image: url("beachphoto.PNG");
    background-size: cover;
    padding-bottom: 10rem;
    min-height: 100vh;
}
@media only screen and (max-width: 768px) {
    main {
      background-image: none;
    }

    .maincontainer .row{
        display: grid;
        justify-content: center;
    }
  }

.cardcontainer {
    display: flex;
    align-items: center;
}

footer {
    margin-top: 10rem;
}

.btn:hover {
    background-color: gold;
    color: black;
}

.btn {
    padding-top: 0;
    padding-bottom: 0;
}
