.header {
    display: grid;
    grid-template-columns:50% 50%;
    justify-items: center;
    text-align: center;
    margin-bottom: 2rem;
    padding-bottom:.6rem;
    padding-top:.6rem;
    margin-left: 30%;
    margin-right: 30%;
}

.headertext {
    margin-top: 2rem;
    margin-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
    text-align: center;
    border-radius: 100px;
    max-width: 16rem;
    min-width: 16rem;
    max-height: 10rem;
    font-size: 12px;
    order: 1;   

}

.contact {
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
    text-align: center;
    max-width: auto;
    min-width: auto;
    font-size: 12px;  
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 75px;
    text-decoration: none;
    font-weight: bold;
}   

.resumebtn {
    background-color:rgb(80, 207, 80);
    color: white;
    margin-top: -.6rem;
}


.bio p{
    background-image: url("./coorscropsquare.png");
    width:200px;
    height:200px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size: 30px;
    color: rgba(0, 0, 0, 0.0);
    opacity: 60%;
    
}
.bio p:hover {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 100%;
}

.headertitle {
    font-size: 16px;
    text-decoration: solid;
}

main {
    background-image: url("beachphoto.PNG");
    background-size: cover;
    padding-bottom: 10rem;
    min-height: 100vh;
}
@media only screen and (max-width: 768px) {
    main {
      background-image: none;
    }

    .maincontainer .row{
        display: grid;
        justify-content: center;
    }
    .header {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 2rem;
        padding-bottom:.6rem;
        padding-top:.6rem;
        justify-content: center;
    }
    .headertext {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: white;
        text-align: center;
        border-radius: 4px;
        max-width: 20rem;
        min-width: 16rem;
        max-height: 10rem;
        font-size: 12px;
        order: 1; 
        margin-bottom: 1rem;
        margin-top: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
  }
}
.cardcontainer {
    display: flex;
    align-items: center;
}

footer {
    margin-top: 10rem;
}

.btn:hover {
    background-color: gold;
    color: black;
}

.btn {
    padding-top: 0;
    padding-bottom: 0;
}

.contactbox {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    margin-bottom: 2rem;
    padding-bottom:.6rem;
    padding-top:.6rem;
}

.modal {
    color: black;
    text-align: center;
}
.modal-title h5 {

    color: black;
    text-align: center;
}

@media only screen and (max-width: 1300px) {
    .header {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 1rem;
        margin-top: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        padding-bottom:.6rem;
        padding-top:.6rem;
        justify-content: center;
    }
}