  
.header {
    display: grid;
    grid-template-columns:50% 50%;
    justify-items: center;
    text-align: center;
    margin-bottom: 2rem;
    padding-bottom:.6rem;
    padding-top:.6rem;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.headertext {
    margin-top: 2rem;
    margin-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
    text-align: center;
    border-radius: 4px;
    max-width: 20rem;
    min-width: 20rem;
    max-height: 7rem;
    font-size: 14px;
    order: 1;   
    opacity: 85%;

}

.contact {
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
    text-align: center;
    max-width: auto;
    min-width: auto;
    font-size: 12px;  
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 75px;
    text-decoration: none;
    font-weight: bold;
    opacity: 95%;
    z-index: 11;
    font-family: 'Open Sans', sans-serif;

}  

.contact:hover {
    opacity: 100%;
}

.resumebtn {
    background-color:rgb(80, 207, 80);
    color: white;
    margin-top: -.6rem;
}


.bio p{
    background-image: url("./coorscropsquare.png");
    width:200px;
    height:200px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size: 30px;
    color: rgba(0, 0, 0, 0.0);
    opacity: 85%;
    
}
.bio p:hover {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 100%;
}

.headertitle {
    font-size: 16px;
    text-decoration: solid;
}

body {
    background-image: url("beachphoto.PNG");
    background-size: cover;
    padding-bottom: 10rem;
    min-height: 100vh;
}
@media only screen and (max-width: 768px) {
    .mainContent {
      background-image: none;
    }

    .maincontainer .row{
        display: grid;
        justify-content: center;
    }
    .header {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 2rem;
        padding-bottom:.6rem;
        padding-top:.6rem;
        justify-content: center;
    }
    .headertext {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: white;
        text-align: center;
        border-radius: 4px;
        max-width: 20rem;
        min-width: 16rem;
        max-height: 10rem;
        font-size: 12px;
        order: 1; 
        margin-bottom: 1rem;
        margin-top: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
  }
}
.cardcontainer {
    display: 0;
    align-items: center;
}

footer {
    margin-top: 10rem;
}

.btn:hover {
    background-color: gold;
    color: black;
}

.btn {
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.contactbox {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    margin-bottom: 2rem;
    padding-bottom:.6rem;
    padding-top:.6rem;
}

.modal {
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}



@media only screen and (max-width: 1300px) {
    .header {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 1rem;
        margin-top: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        padding-bottom:.6rem;
        padding-top:.6rem;
        justify-content: center;
    }
}

.card {
    opacity: 92%;
    z-index: 1;
    margin-bottom: 1rem;
    border: 2px solid white;
}

.card:hover {
    opacity: 100%;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 290px;
    height: auto;
    background-color: lightgray;
    color: black;
    text-align: center;
    border-radius: 4px;
    padding: 2px 2px 2px 2px;
    opacity: 0.8;
    transition: opacity .8s;
    left: 50%;
    margin-left: -145px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 10;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: .9;
  }

  .maincontainer {
      display: 0;
  }
  
